version: '3.1'
services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"
  api-gateway:
    image: ilussencio/api-gateway:latest
    container_name: api-gateway
    environment:
      - DEFAULTZONE_EUREKA_CONNECTION=http://eurekaserver:8761/eureka
    ports:
      - "8765:8765"
    networks:
      - network_bridge
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/var/log/mongodb
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"
    command: mongod --logpath=/var/log/mongodb/mongod.log --logappend --bind_ip_all
    networks:
      - network_bridge
  eurekaserver:
    image: ilussencio/eureka-server:latest
    container_name: eurekaserver
    ports:
      - "8761:8761"
    networks:
        - network_bridge
  sonar-repositories:
    image: ilussencio/sonar-repository:latest
    environment:
      - URI_DATABASE_CONNECTION=mongodb://mongodb
      - DEFAULTZONE_EUREKA_CONNECTION=http://eurekaserver:8761/eureka
    deploy:
      replicas: 1
    #depends
    depends_on:
      - mongodb
      - eurekaserver
      - api-gateway
    networks:
      - network_bridge
  nfe-qr-code-consult:
    image: ilussencio/nfeqrcodeconsult:latest
    environment:
      - URI_DATABASE_CONNECTION=mongodb://mongodb
      - DEFAULTZONE_EUREKA_CONNECTION=http://eurekaserver:8761/eureka
    deploy:
      replicas: 1
    depends_on:
      - mongodb
      - eurekaserver
      - api-gateway
    networks:
      - network_bridge
  nfe-qrcode-user:
    image: ilussencio/nfe-qrcode:latest
    environment:
      - URI_DATABASE_CONNECTION=mongodb://mongodb
      - USER_URL:htts://api.srbit.com.br/users
      - DEFAULTZONE_EUREKA_CONNECTION=http://eurekaserver:8761/eureka
    deploy:
      replicas: 1
    depends_on:
      - mongodb
      - eurekaserver
      - api-gateway
      - user
    networks:
      - network_bridge
  user:
    image: ilussencio/user:latest
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=users_db
      - DEFAULTZONE_EUREKA_CONNECTION=http://eurekaserver:8761/eureka
    deploy:
      replicas: 1
    depends_on:
      - mongodb
      - eurekaserver
      - api-gateway
    networks:
      - network_bridge
    
networks:
  network_bridge:
    driver: bridge
